<h1 class="h4"></h1>
<ul class="list-group">
    <li>Categories</li>
    {% if categories|length > 0 %}
        {% for category in categories %}
            <li>
                <span class="badge">{{ category.activeProducts|length }}</span>
                <a href="{{ path("products_by_category", {"id": category.id}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    {% else %}
        <li class="text-muted">No categories</li>
    {% endif %}
</ul>

